# Firebase Configuration
# Copy this file to .env.local and fill in your Firebase project credentials
# Get these from: Firebase Console -> Project Settings -> Your Apps -> Web App

# const firebaseConfig = {
#   apiKey: <api_key_here>,
#   authDomain: "test-todo-app-da1c8.firebaseapp.com",
#   projectId: "test-todo-app-da1c8",
#   storageBucket: "test-todo-app-da1c8.firebasestorage.app",
#   messagingSenderId: "9972241012",
#   appId: "1:9972241012:web:654f66cf83ac9834b1b721",
#   measurementId: "G-68CWX1DT6L"
# };

VITE_FIREBASE_API_KEY=<api_key_here
VITE_FIREBASE_AUTH_DOMAIN=test-todo-app-da1c8.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=test-todo-app-da1c8
VITE_FIREBASE_STORAGE_BUCKET=test-todo-app-da1c8.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=9972241012
VITE_FIREBASE_APP_ID=1:9972241012:web:654f66cf83ac9834b1b721
